*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.web-body{
    background: url(img/Artboard\ 5.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}





.nav-bar{
    background-color: rgba(0, 0, 0, 0.592);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    color: #fff;
    padding: 20px;
    font-size: 42px;
    font-weight: bold;
    padding-left: 150px;
 
}

.list-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ccc;
    list-style: none;
    padding-left: 320px;

}

.list-li{
    font-weight: 400;
    font-size: 15px ;
    
}
.list-li {
    margin-right: 10px;
    text-decoration: none;
    color: #ccc;
    font-weight: 400;
    font-size: 15px;

}
.list-li:hover{
    color: black;
    border-bottom: #ccc solid 1px;
    font-weight: bold;
}

.icons{
    display: flex;
    flex-wrap: wrap;
}

.search{
    display: flex;
    margin: 0 8px 0;
    background-color: black;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    padding: 8.5px;
}

.contact{
    display: flex;
    margin: 0 8px 0;
    background-color: black;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    padding: 8.5px;
}


.add-to-cart{
    display: flex;
    margin: 0 8px 0;
    background-color: black;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    padding: 8.5px;
}


.text{
    padding-top: 5px;
    text-align: right;
    padding: 0 px;
}

.text-a{
    
    font-size: 16px;
    font-weight: 550;
    color: black;
    text-decoration: none;
    
}
#arrow{
    margin-left: 2px;
}

.text-a:hover{
    color: #d66502f8;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 150px 0 50px 500px;
    
}

.card-1,.card-2,.card-3{
    border: #ccc solid 1px;
    height: 310px;
    width: 250px;
    border-radius: 16px;

}

.card-1:hover{
    background-color: rgba(0, 0, 0, 0.403);
}

.card-2:hover{
    background-color: rgba(0, 0, 0, 0.403);
}

.card-3:hover{
    background-color: rgba(0, 0, 0, 0.403);
}

.card-1-img,.card-2-img,.card-3-img{
    width: 85%;
    height: 85%;
}
.card-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff67;
    
}

.men-btn-div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    
}

.men-btn{
    
    color: #fff;
    border: #ccc solid 1px;
    border-radius: 30px;
    background-color: #d66502f8;
    text-decoration: none;
    padding: 10px 8px 0;
    font-size: 10px;
    font-weight: 550;


}

.men-btn:hover{
    background-color: rgb(64, 64, 228);
}


.card-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff67;
    
}

.women-btn{
    color: #fff;
    border: #ccc solid 1px;
    border-radius: 30px;
    background-color: #d66502f8;
    text-decoration: none;
    padding: 10px 8px 0;
    font-size: 10px;
    font-weight: 550;

}

.women-btn:hover{
    background-color: rgb(64, 64, 228);
}
.card-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff67;
    
}

.kids-btn{
    color: #fff;
    border: #ccc solid 1px;
    border-radius: 30px;
    background-color: #d66502f8;
    text-decoration: none;
    padding: 10px 8px 0;
    font-size: 10px;
    font-weight: 550;
}

.kids-btn:hover{
    background-color: rgb(64, 64, 228);
}

.footer{
    padding-top: 50px;

}
.footer-div{
    background-color: rgba(0, 0, 0, 0.944);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 10px;
}

.foot-h5{
    color: #ccc;
}

.footimg{
    
}